<h1>Mensajes</h1>
<hr>
<div class="d-flex flex-column" id="chatMessages">
    <div class="w-75 mb-4" *ngFor="let m of messages" [class.align-self-end]="m.me" [class.text-right]="m.me">
        <span class="text-muted">{{m.from}}:</span>
        <div class="rounded mt-1 p-2 text-left" [class.bg-light]="m.me" [class.bg-success]="!m.me && !m.pm"
            [class.bg-danger]="!m.me && m.pm">
            <p class="text-white mb-0" [class.text-dark]="m.me">{{m.message}}</p>
        </div>
    </div>
</div>
<hr>
<form class="mt-3" (ngSubmit)="sendMessage()">
    <div class="input-group">
        <input class="form-control" type="text" [(ngModel)]="message" name="message" autofocus autocomplete="off"
            placeholder="Mensaje...">
    </div>
</form>